In [3]:
import pandas as pd
from sqlalchemy import create_engine
import json

In [6]:
receipts = pd.read_json('receipts.json', lines=True)
brands = pd.read_json('brands.json', lines=True)
users = pd.read_json('users.json', lines=True)

In [7]:
receipts.head()

,_id,bonusPointsEarned,bonusPointsEarnedReason,createDate,dateScanned,finishedDate,modifyDate,pointsAwardedDate,pointsEarned,purchaseDate,purchasedItemCount,rewardsReceiptItemList,rewardsReceiptStatus,totalSpent,userId
0,{'$oid': '5ff1e1eb0a720f0523000575'},500.0,"Receipt number 2 completed, bonus point schedu...",{'$date': 1609687531000},{'$date': 1609687531000},{'$date': 1609687531000},{'$date': 1609687536000},{'$date': 1609687531000},500.0,{'$date': 1609632000000},5.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,26.0,5ff1e1eacfcf6c399c274ae6
1,{'$oid': '5ff1e1bb0a720f052300056b'},150.0,"Receipt number 5 completed, bonus point schedu...",{'$date': 1609687483000},{'$date': 1609687483000},{'$date': 1609687483000},{'$date': 1609687488000},{'$date': 1609687483000},150.0,{'$date': 1609601083000},2.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,11.0,5ff1e194b6a9d73a3a9f1052
2,{'$oid': '5ff1e1f10a720f052300057a'},5.0,All-receipts receipt bonus,{'$date': 1609687537000},{'$date': 1609687537000},NaN,{'$date': 1609687542000},NaN,5.0,{'$date': 1609632000000},1.0,"[{'needsFetchReview': False, 'partnerItemId': ...",REJECTED,10.0,5ff1e1f1cfcf6c399c274b0b
3,{'$oid': '5ff1e1ee0a7214ada100056f'},5.0,All-receipts receipt bonus,{'$date': 1609687534000},{'$date': 1609687534000},{'$date': 1609687534000},{'$date': 1609687539000},{'$date': 1609687534000},5.0,{'$date': 1609632000000},4.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,28.0,5ff1e1eacfcf6c399c274ae6
4,{'$oid': '5ff1e1d20a7214ada1000561'},5.0,All-receipts receipt bonus,{'$date': 1609687506000},{'$date': 1609687506000},{'$date': 1609687511000},{'$date': 1609687511000},{'$date': 1609687506000},5.0,{'$date': 1609601106000},2.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,1.0,5ff1e194b6a9d73a3a9f1052

In [9]:
receipts_df = []
receipt_item_list_df = []
# new receipts_df dataframe
for receipt in receipts['_id']:
    receipt_create_date = receipts['createDate']
    rewards_receipt_status = receipts['rewardsReceiptStatus']
    spend = receipts['totalSpent']
    user_id = receipts['userId']
    receipt_id = receipts['_id'][0]
    receipts_df.append({'id': receipt_id, 'date': receipt_create_date, 'status': rewards_receipt_status,
                       'spend': spend, 'user_id': user_id})
# Receipt Item List dataframe -- joined to receipts_df dataframe on key RIL_receipt_id = receipt_id
    for i in receipts['purchasedItemCount']:
        RIL_receipt_id = receipts['_id'][0]
        barcode = receipts['rewardsReceiptItemList'][i]['userFlaggedBarcode']
        item_description = receipts['rewardsReceiptItemList'][i]["userFlaggedDescription"]
        partner_id = receipts['rewardsReceiptItemList'][i]["rewardsProductPartnerId"]
        receipt_item_list_df.append({'id': RIL_receipt_id, 'barcode': barcode, 'item': item_description, 
                                     'partner': partner_id})

TypeError: list indices must be integers or slices, not str

In [24]:
brands_list = []
for brand in brands['_id']:
    category = brands['category']
    top_brand = brands['topBrand']
    name = brands['name']
    brand_id = brands['cpg'][1]
    brands_list.append({'id': brand_id, 'top brand': top_brand, 'category': category, 'name': name})

In [25]:
users_list = []
for user in users['_id']:
    user_create_date = users['createdDate'][0]
    active = users['active']
    last_login = users['lastLogin'][0]
    user_id = users['_id'][0]
    state = users['state']
    users_list.append({'id': user_id, 'date': user_create_date, 'active': active, 'state': state,
                       'last login': last_login})

In [26]:
brands_df = pd.DataFrame(brands_list)
brands_df.head()

,id,top brand,category,name
0,"{'$id': {'$oid': '5332f5fbe4b03c9a25efd0ba'}, ...",0 0.0 1 0.0 2 0.0 3 0....,0 Baking 1 Be...,0 test brand @1612366101024 1 ...
1,"{'$id': {'$oid': '5332f5fbe4b03c9a25efd0ba'}, ...",0 0.0 1 0.0 2 0.0 3 0....,0 Baking 1 Be...,0 test brand @1612366101024 1 ...
2,"{'$id': {'$oid': '5332f5fbe4b03c9a25efd0ba'}, ...",0 0.0 1 0.0 2 0.0 3 0....,0 Baking 1 Be...,0 test brand @1612366101024 1 ...
3,"{'$id': {'$oid': '5332f5fbe4b03c9a25efd0ba'}, ...",0 0.0 1 0.0 2 0.0 3 0....,0 Baking 1 Be...,0 test brand @1612366101024 1 ...
4,"{'$id': {'$oid': '5332f5fbe4b03c9a25efd0ba'}, ...",0 0.0 1 0.0 2 0.0 3 0....,0 Baking 1 Be...,0 test brand @1612366101024 1 ...

In [27]:
users_df = pd.DataFrame(users_list)
users_df.head()

,id,date,active,state,last login
0,{'$oid': '5ff1e194b6a9d73a3a9f1052'},{'$date': 1609687444800},0 True 1 True 2 True 3 Tru...,0 WI 1 WI 2 WI 3 WI 4 ...,{'$date': 1609687537858}
1,{'$oid': '5ff1e194b6a9d73a3a9f1052'},{'$date': 1609687444800},0 True 1 True 2 True 3 Tru...,0 WI 1 WI 2 WI 3 WI 4 ...,{'$date': 1609687537858}
2,{'$oid': '5ff1e194b6a9d73a3a9f1052'},{'$date': 1609687444800},0 True 1 True 2 True 3 Tru...,0 WI 1 WI 2 WI 3 WI 4 ...,{'$date': 1609687537858}
3,{'$oid': '5ff1e194b6a9d73a3a9f1052'},{'$date': 1609687444800},0 True 1 True 2 True 3 Tru...,0 WI 1 WI 2 WI 3 WI 4 ...,{'$date': 1609687537858}
4,{'$oid': '5ff1e194b6a9d73a3a9f1052'},{'$date': 1609687444800},0 True 1 True 2 True 3 Tru...,0 WI 1 WI 2 WI 3 WI 4 ...,{'$date': 1609687537858}